*.pyc
**/__pycache__/

PIXELTOWN_env/

# PyInstaller & Packaging
dist/
build/
*.spec

# Pygbag & WebAssembly Build Caches
web-cache/
.pygbag/
*.apk
*.tar.gz
*.whl

# Game Saves & Logs
saves/
*.log
.coverage
.pytest_cache/