cffi==2.0.0
decorator==5.2.1
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.4.3
opencv-python==4.13.0.92
pillow==11.3.0
proglog==0.1.12
pycparser==3.0
pygame==2.6.1
pygame-ce==2.5.7
pysubs2==1.8.1
python-dotenv==1.2.2
pyvidplayer2==0.9.32
setuptools==82.0.1
sounddevice==0.5.5
tqdm==4.67.3
